.article_choice_ele_div {
    width: 90%;
    height: max-content;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 0;
    border-bottom: 2px dotted black;
    margin-bottom: 4px;
}

.article_choice_ele_a {
    margin-left: 10%;
    display: block;
}

.article_choice_ele_img {
    width: 15%;
    height: 100px;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 1px;
    border-radius: 5px
}

.article_choice_ele_textarea {
    width: 60%;
    height: 40px;
    float: right;
    margin-right: 5%;
    margin-top: 6%;
    border-radius: 10px;
    background: rebeccapurple;
    overflow-y: auto;
}