/*加载div*/
.loading_div {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 101;
}

.loading_div div {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    background: #C3C3C3
}

.loading_div img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}