
.func_module_table tr td {
    text-align: center;
}

.func_module_table tr td span {
    font-size: 13px;
    text-decoration: none;
    color: #000;
}

.func_module_table tr td span:hover {
    color: hotpink;
    text-decoration: underline;
    cursor: pointer;
}

/* 鼠标点击时 */
.func_module_table tr td span:active {
    color: darkmagenta;
}