.main_div {
    width: 80%;
    height: max-content;
    margin-left: 50%;
    transform: translateX(-50%);
    background: #99D9EA;
}

.article_title_input {
    margin-top: 1%;
    border: none;
    background: none;
    border-bottom: 3px dotted olivedrab;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 30px;
}

.editor_div {
    position: relative;
    width: 99%;
    top: 1%;
    margin-left: 50%;
    transform: translateX(-50%);
}

/*选择照片的input*/
.choice_photos_input {
    margin-left: 50%;
    margin-top: 2%;
    transform: translateX(-50%);
    margin-bottom: 1%;
}

.upload_pictures_button {
    border: 0;
    border-radius: 5px;
    width: 10%;
    height: 30px;
    text-align: center;
    margin-top: 5%;
}

.upload_pictures_button:hover {
    background: aquamarine;
}

.upload_pictures_button:active {
    background: #C6587B;
}

.article_type_div {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
    text-align: center;
}