/*    展示照片的区域*/
.show_pictures_table {
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: max-content;
    column-count: 4;
    margin-top: 5%;
}
.show_pictures_table tr td {
    text-align: center;
}