/* 评论区 */

.comment_area_div {
    width: 60%;
    margin: 5% 0 0 50%;
    transform: translateX(-50%);
    height: max-content;
}

.markdown {
    position: relative;
}

.markdown .markdown_editor {
    width: 100%;
    height: 100px;
    overflow: auto;
    outline: none;
    padding: .5em;
    cursor: auto;
    line-height: 16px;
    border: 1px solid #eee;
    border-radius: 4px;
    transition: all .25s;
}

.markdown .markdown_editor:empty:not(:focus):before {
    content: attr(placeholder);
    color: rgba(0, 0, 0, .38);
}

.email {
    position: relative;
    margin-top: 1%;
    margin-left: 50%;
}

.publish_span {
    color: #8391A5;
}

.publish_span:hover {
    background: #DADADA;
    color: black;
    /* transition: all .25s; */
    transition-property: all;
    transition-duration: 0.75s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.publish_span:active{
    background: mediumvioletred;
}
.show_comment_area_div {
    width: 70%;
    height: max-content;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 1% 0 0 50%;
    transform: translateX(-50%);
}

.part_of_comment_div {
    width: 100%;
    height: max-content;
    bottom: 1%
}

.commenter_img {
    width: 5%;
    position: relative;
    margin-top: 1%
}

.commenter_span {
    position: absolute;
    margin: 2% 0 0 2%;
}

.commenter_span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.comment_datetime_span {
    position: absolute;
    width: 40%;
    margin: 2% 0 0 43%;
    text-align: right
}

.comment_area {
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%)
}

.previous_comment_div {
    border: 1px solid #eee;
    border-radius: 4px;
}

.comment_reply_img {
    width: 3%;
    margin: 0 0 1% 70%;
}

.cancel_response_comment_img:hover {
    cursor: pointer;
}